/* yellow */
.border-yellow {
    border-color: var(--bs-yellow) !important;
    outline: none;
}
.bg-yellow {
    background-color: var(--bs-yellow) !important;
}

/* blue */
.border-blue {
    border-color: var(--bs-blue) !important;
    outline: none;
}
.bg-blue {
    background-color: var(--bs-blue) !important;
}

/* green */
.border-green {
    border-color: var(--bs-green) !important;
    outline: none;
}
.bg-green {
    background-color: var(--bs-green) !important;
}

/* orange */
.border-orange {
    border-color: var(--bs-orange) !important;
    outline: none;
}
.bg-orange {
    background-color: var(--bs-orange) !important;
}

/* purple */
.border-purple {
    border-color: var(--bs-purple) !important;
    outline: none;
}
.bg-purple {
    background-color: var(--bs-purple) !important;
}

/* bonus */
.border-bonus {
    border-color: var(--bs-red) !important;
    outline: none;
}
.bg-bonus {
    background-color: var(--bs-red) !important;
}
.bonus-block {
    cursor: pointer;
}

/* total */
.border-total {
    border-color: var(--bs-dark) !important;
    outline: none;
}
.bg-total {
    background-color: var(--bs-dark) !important;
}

/* checkbox */
input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #999;
    cursor: pointer;
}
input[type=checkbox]:disabled + label:after {
    content: '\2718';
    position: absolute;
    font-size: 1.5rem;
    cursor: default;
}
input[type=checkbox]:checked + label:after {
    content: '\2714';
    position: absolute;
    font-size: 1.5rem;
}
input[type=checkbox]:checked + label[for$="-c"]:after {
    display: none;
}

/* calculation */
.calculation {
    font-weight: bold;
    color: var(--bs-light);
}

/* bonus data */
[bonus-data]:after {
    content: attr(bonus-data);
    display: block;
    position: absolute;
    color: var(--bs-light);
    margin: -.25rem 0 0 .5rem;
    width: .75rem;
    height: .75rem;
    font-size: .5rem;
    text-align: center;
    vertical-align: middle;
    border-radius: .25rem;
    z-index: 9;
}
[bonus-color$="-r"]:after {
    margin: -.75rem 0 0 -.5rem;
}
[bonus-color$="-c"]:after {
    right: -.5rem;
    bottom: -.5rem;
}
[bonus-color^="yellow"]:after {
    background: var(--bs-yellow);
}
[bonus-color^="blue"]:after {
    background: var(--bs-blue);
}
[bonus-color^="green"]:after {
    background: var(--bs-green);
}
[bonus-color^="orange"]:after {
    background: var(--bs-orange);
}
[bonus-color^="purple"]:after {
    background: var(--bs-purple);
}
[bonus-color^="bonus"]:after {
    background: var(--bs-dark);
}

/* position bonus data larger screens */
@media only screen and (min-width:29rem) {
    .symbol {
        padding: .25rem;
    }
}
@media only screen and (min-width:34rem) {
    [bonus-data]:after {
        margin: -.25rem 0 0 .75rem;
        width: 1rem;
        height: 1rem;
        font-size: .75rem;
    }
    [bonus-color$="-r"]:after {
        margin: -.5rem 0 0 -.5rem;
    }
    [bonus-color$="-c"]:after {
        right: -.75rem;
    }
    .symbol {
        padding: .5rem;
    }
}