/* yellow */
.border-yellow {
    border-color: var(--bs-yellow) !important;
    outline: none;
}
.bg-yellow {
    background-color: var(--bs-yellow) !important;
}

/* blue */
.border-blue {
    border-color: var(--bs-blue) !important;
    outline: none;
}
.bg-blue {
    background-color: var(--bs-blue) !important;
}

/* green */
.border-green {
    border-color: var(--bs-green) !important;
    outline: none;
}
.bg-green {
    background-color: var(--bs-green) !important;
}

/* orange */
.border-orange {
    border-color: var(--bs-orange) !important;
    outline: none;
}
.bg-orange {
    background-color: var(--bs-orange) !important;
}

/* purple */
.border-purple {
    border-color: var(--bs-purple) !important;
    outline: none;
}
.bg-purple {
    background-color: var(--bs-purple) !important;
}

/* bonus */
.border-bonus {
    border-color: var(--bs-red) !important;
    outline: none;
}
.bg-bonus {
    background-color: var(--bs-red) !important;
}

/* total */
.border-total {
    border-color: var(--bs-dark) !important;
    outline: none;
}
.bg-total {
    background-color: var(--bs-dark) !important;
}

/* symbol */
.symbol {
    padding: .1em;
    font-size: 2em;
}

/* checkbox */
input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #999;
    cursor: pointer;
}
input[type=checkbox]:disabled + label:after {
    content: '\2718';
    position: absolute;
    font-size: 2em;
    cursor: default;
}
input[type=checkbox]:checked + label:after {
    content: '\2714';
    position: absolute;
    font-size: 2em;
}

/* calculation */
.calculation {
    font-weight: bold;
    color: var(--bs-light);
}

/* bonus value */
[bonus-data]:after {
    content: attr(bonus-data);
    display: block;
    position: absolute;
    color: var(--bs-light);
    margin: -.5em 0 0 1em;
    width: 1.5em;
    height: 1.5em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: .25em;
    z-index: 9;
}
[bonus-color$="-r"]:after {
    margin: -.25em 0 0 -.75em;
}
[bonus-color$="-c"]:after {
    margin: -.5em 0 0 3em;
}
[bonus-color^="yellow"]:after {
    background: var(--bs-yellow);
}
[bonus-color^="blue"]:after {
    background: var(--bs-blue);
}
[bonus-color^="green"]:after {
    background: var(--bs-green);
}
[bonus-color^="orange"]:after {
    background: var(--bs-orange);
}
[bonus-color^="purple"]:after {
    background: var(--bs-purple);
}
[bonus-color^="bonus"]:after {
    background: var(--bs-dark);
}